$grid-width: 100rem;
$vertical: 4rem;
$horizontal: 4rem;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10pt;
}

.row {
    max-width: $grid-width;
    margin: 0 auto;
    &:not(:last-child) {
        margin-bottom: $vertical;
    }

    &::after {
        content: "";
        display: table;
        clear: both;
    }

    [class^="col-"] {
        float: left;
        background-color: orange;
        padding: 1rem;
        &:not(:last-child) {
            margin-right: $horizontal;
        }
    }

    .col-1-of-2 {
        width: calc((100% - #{$horizontal}) / 2);

    }

    .col-1-of-3 {
        width: calc((100% - 2 * #{$horizontal}) / 3);
    }

    .col-2-of-3 {
        width: calc(2 * ((100% - 2 * #{$horizontal}) / 3) + #{$horizontal});
    }

    .col-1-of-4 {
        width: calc((100% - 3 * #{$horizontal}) / 4);
    }

    .col-2-of-4 {
        width: calc(2 * ((100% - 3 * #{$horizontal}) / 4) + #{$horizontal});
    }

    .col-3-of-4 {
        width: calc(3 * ((100% - 3 * #{$horizontal}) / 4) + 2 * #{$horizontal});
    }

}