$MAX_COLUMNS: 4 !default;
$RESPONSIVE_COLUMNS: (1024px: 3, 768px: 2, 480px: 1);

@function grid_columns($n) {
    @if ($n > 0) {
        
    }
    @else {
        
    }
}

@mixin resize($n) {
    .gallery img {
        
    }
}

body {
    margin: 0 auto;
    max-width: 1024px;
}

.gallery {
    display: flex;
    background-color: #000;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: stretch;
}

@include resize(4);

@each $size, $value {

}
