.marco{
    display: grid;
    grid-template-columns:repeat(4,auto);
    grid-template-rows: repeat(3,auto);
    background-color:black;
    padding: 100px;
}
p{
    color:white;
}

.campo{
    display: grid;
    grid-template-columns:repeat(12,auto);
    grid-template-rows: repeat(3,auto);
}
.alien{
    background-repeat: no-repeat;
    background-image: url("../EJERCICIO_3:Tablero_de_juego/img/Captura\ de\ pantalla\ de\ 2021-11-12\ 19-40-55.png");
}

.espacio{
    grid-row: 4/span 2;
}