*{
    box-sizing: border-box;
}

table *{
    border: 1px solid;
}
table {
    border-collapse: collapse;
}

table tr:first-child th {
    background-color: grey;
}
tr th:not(first-child){
    text-align: left;
    background-color: rgb(145, 255, 255);
}

img{
    border: none;
}
tr:nth-child(even){
    background-color:rgb(232, 182, 109);
}
td {
    text-align: center;
}
td:hover{
    background-color:rgb(76, 112, 191);
}