@import "_base.scss";

.card {
  :hover {
    @include sombreado();
  }
}

.boton{
  :hover{
    @include selecionado;
  }
}


.score, .card{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  font-size: 2rem;
  color:$claro;
  text-align: center;
  vertical-align: middle;
  background-color: ghostwhite;
  border-radius: 10%;
  margin: 0%;
}