@import "_base.scss";

.container {
  display: grid;
  header {
    color: white;
    background-color: $azul;
  }
  aside {
    display: grid;
    grid-template-columns: repeat(6, auto);
    background-color: $claro;
    .boton {
      background-color: orange;
      margin: 5px;
    }
  }

  main {
    display: grid;
    row-gap: 10px;
    .card {
    }
  }
  footer {
    background-color: $claro;
    color: $amarillo;
  }
}

@media (min-width: 600px) {
  .medio {
    display: grid;
    grid-template-columns: 10% auto;
    aside {
      grid-template-rows: repeat(6, auto);
      grid-template-columns: auto;
    }
    main {
      grid-template-columns: repeat(4, auto);
      grid-template-rows: repeat(4, auto);
      column-gap: 5%;
    }
  }
}
